<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="main.css">
    <title>Pricio</title>
</head>
<body>
  <header>
    <div class="row blue-grey darken-4" >
      <div class="container  valign-wrapper" >
        <div class="col s12 m6">
          <h1>PRICIO</h1>
          <p>|| Compare before consume</p>
        </div>
        <form class="col s12 m6 " method="POST" action="/" >
          <div class="row  valign-wrapper">
            <div class="col s12 m8" >
              <div class="input-field col s12">
              
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" class="validate" name="search" required="" aria-required="true">
                <label for="search">Search</label>
                
              </div>
            </div>
            <div class="col s12 m4">
              <button class="btn waves-effect waves-light  teal accent-4" type="submit">Search
                <i class="material-icons right ">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>

  <!-- Display items part -->
  <div class="container">
    <div class="row">
        <div class="col s6 " >
            <div class="row">
              <!-- Brand -->
              <div class="col s12 brand-icons" >	
                <img src="images/amazon-svg.svg" alt="">
              </div>
              <!-- Items -->
              <div class="col s12 item-bucket">	
                <div class="row">
                  <% amazon.forEach((item) => {%>                    
                      <div class="col s12 m6">
                          <div class="card">
                            <div class="card-image">
                              <img src="<%=item.image %> ">                            
                            </div>
                            <div class="card-content">
                            <a href="<%=item.link %>"> <h5 class="card-title-custom">
                                <%=item.title %></h5>
                            </a>
                            </div>
                            <div class="card-action">
                              <p><%=item.price %></p>
                              <p> <%=item.coupon %> </p>
                              <p><%=item.shipping %></p>
                              <p><%=item.rating %></p>
                              <p><%=item.reviews %></p>
                            </div>
                          </div>
                        </div>  
                  <%})%>
                  </div>
              </div>
              
            </div>
        </div>
        
        <!-- Ebay  -->
        <div class="col s6 " >
            <div class="row">
              <!-- Brand -->
              <div class="col s12 brand-icons" >	
                <img src="images/ebay-svg.svg" alt="">
              </div>
              <!-- Items -->
              <div class="col s12 item-bucket">	
                <div class="row">
                  <% ebay.forEach((item) => {%>                    
                      <div class="col s12 m6">
                          <div class="card">
                            <div class="card-image">
                              <img src="<%=item.image %> ">                            
                            </div>
                            <div class="card-content">
                            <a href="<%=item.link %>"> <h5 class="card-title-custom">
                                <%=item.title %></h5>
                            </a>
                            </div>
                            <div class="card-action">
                              <p><%=item.price %></p>
                              <p> <%=ebay[0].discount %> </p>
                              <p><%=ebay[0].shippingFrom %></p>
                              <p><%=ebay[0].shippingCost %></p>
                              <p><%=ebay[0].description %> </p>
                              <p><%=ebay[0].hotness %></p>
                            </div>
                          </div>
                        </div>  
                  <%})%>
                  </div>
              </div>
              
            </div>
        </div>
    </div>
</div>  
<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PRICIO</h5>
        <p class="grey-text text-lighten-4">PRICIO is a best way to compare the prices in leading two e-commerce sites</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">COTACT</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright Text
    </div>
  </div>
</footer>
    
    
</body>
</html>