<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRICIO</h1>
    <!-- <%amazon.forEach((item) => {%>
        <%=item %>
    <%}) %> -->

    <%= amazon[0].image %>
    <br>
    <%= amazon[0].link %>
    <br>
    <%= amazon[0].title %>
    <br>
    <%= amazon[0].price %>
    <br>
    <%= amazon[0].coupon %>
    <br>
    <%= amazon[0].shipping %>
    <br>
    <%= amazon[0].rating %>
    <br>
    <%= amazon[0].reviews %>
    <br>
    
    <br>

</body>
</html>